:root {
    --body-width: 100%;
    --contact-width: calc(var(--body-width) - 200px);
    --contact-form-width: 400px;

}

/* OVERWRITE BROWSER DEFAULTS */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

input:focus, textarea:focus, select:focus, textarea:focus {
    outline: none;
    border-bottom: 1px solid orange;
}

input:focus::placeholder {
    color: transparent;
  }

  textarea {
    resize: none;
  }

body {
    width: var(--body-width);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0 auto;
}

#content {
    display: flex;
    width: var(--body-width);
    height: 560px;
    /* background-color: grey; */
}

#contact {
    display: flex;
    width: var(--contact-width);
    height: 484px;
    padding: 50px 100px;
    background-image: url('./images/bg-lines@2x.png');
    background-size: 55% auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    /* background-color: lightgrey; */
}

#contact-form-wrapper {
    display: flex;
    justify-content: flex-end;
    width: calc(var(--contact-width) * 0.5 );
    position: relative;
    /* background-color:antiquewhite; */
}

#nav-to-top {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16px;
    height: 152px;
    text-decoration: none;
    color: black;
}

#nav-to-top:hover {
    color: #EF722E;
}

#nav-text {
    display: block;
    width: 85px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    transform: translateY(40px) rotate(90deg);
}

#nav-arrow {
    width: 16px;
    height: 60px;
    background-image: url('./images/icon-arrow_down.svg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

#contact-form {
    width: var(--contact-form-width);
    height: 100%;
}

.input-line {
    display: flex;
    justify-content: space-between;
}

.input-half-width {
    height: 32px;
    width: calc((var(--contact-form-width) * 0.5) - 24px);
    margin: 14px 0;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    color: black;
}

#employees { 
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    position: absolute;
    z-index: 1;
    appearance: none;
    height: 35px;
    width: calc((var(--contact-form-width) * 0.5) - 24px);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#custom-select {
    height: 35px;
    background-color: transparent;
    position: relative;
}

#custom-select::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 21px;
    bottom: 7px;
    right: 0;
    border-left: 1px solid black;
    background-image: url('./images/chevron-down-solid.svg');
    background-position-x: 16px;
    background-position-y: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#custom-select:focus-within {
    border-bottom: 1px solid #EF722E;
}

select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

#comments-line {
    display: flex;
    flex-direction: column;
    align-items: bottom;
}

label {
    height: 32px;
    line-height: 32px;
    font-size: 14;
}

#comments {
    border: none;
    border-bottom: 1px solid black;
    height: 45px;
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#comments:focus {
    border-bottom: 1px solid #EF722E;  
}

#subscription-line {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#subscription-line > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border: 1px solid black;
    margin-right: 8px;
}

#subscription-line > input:checked {
    background-color: #EF722E;
    border: 1px solid #EF722E;
}


#submit-line {
    display: flex;
    align-items: flex-end;
}

#submit {
    height: 48px;
    width: 48px;
    border: 1px solid #EF722E;
    margin-right: 40px;
    cursor: pointer;
    background-image: url('./images/icon-arrow_orange.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#indicator {
    line-height: 30px;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    width: calc((var(--contact-width) * 0.5 ) - 128px);
    padding: 48px 64px;
    background-color: lightgrey;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: calc(var(--body-width) - 190px);
    padding: 0 95px;
    color: white;
    background-color: #EF722E;
}
#copyright {
    font-size: 10px;
}

#footer-logo {
    height: 56px;
    width: 100px;
    background-image: url('./images/dynamix-logo-white@2x.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* MEDIA QUERIES BOOTSRAP BREAKPOINTS AS REFRENCE  */

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }

/* XX-Large devices (larger desktops, 1500px and up) */
@media (min-width: 1500px) {
    :root {
        --body-width: 1500px;
    }
 }


/* XX-Large devices (larger desktops, 2000px and up)
@media (min-width: 2000px) { 
    :root {
        --body-width: 2000px;
    }
} */