/* CSS DYNAMIC GLOBAL VARIABLES */
:root {
    --body-width: 100%;
    --main-padding-sides: 0;
    --main-width: calc(var(--body-width) - (var(--main-padding-sides) * 2));
    --content-img-wrapper-width: 80vw;
    --content-img-wrapper-height: calc(var(--content-img-wrapper-width) * 0.7);
    --content-info-width:  80vw;
    --contact-form-width: 80vw;
    --contact-backdrop-width: 80%;
    --contact-form-wrapper-width: 80vw;
    --contact-info-width: 80vw;   
}

/* OVERWRITE BROWSER DEFAULTS */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

input:focus, textarea:focus, select:focus, textarea:focus {
    outline: none;
    border-bottom: 1px solid orange;
}

input:focus::placeholder {
    color: transparent;
  }

  textarea {
    resize: none;
  }

/* BODY STYLES */

body {
    width: var(--body-width);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0 auto;
}

/* CONTENT SECTION STYLES */

#content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: var(--main-width);
    padding: 40px var(--main-padding-sides) 50px var(--main-padding-sides);
}

#content-img-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--content-img-wrapper-width);
    height: var(--content-img-wrapper-height);
}

#content-img {
    height: auto;
    width: calc(var(--content-img-wrapper-width) * 0.82);
    z-index: 2;
}

#img-caption {
    display: flex;
    z-index: 2;
    height: 36px;
    align-items: center;
    color: #B7B7B7;    
}

#img-backdrop {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(var(--content-img-wrapper-width) * 0.55);
    width: calc(var(--content-img-wrapper-width) * 0.55);
    background-image: url(./images/icon-plus.png);
    background-size: calc(var(--content-img-wrapper-width) * 0.033);
    background-position: bottom right;
    background-repeat: repeat;
}

#content-info {
    width: var(--content-info-width);
    padding: 40px 0 0 0;
}

#content-title, #content-subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
}

#content-title {
    color: #84B9DF;
}

#content-subtitle {
    color: #EF722E;
    font-weight: 700;
}

#content-text {
    margin: 40px 0;
    font-size: 17px;
    line-height: 22px;
}

.highlight {
    color: #84B9DF;
}

#content-nav {
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: #EF722E;
    line-height: 28px;
    padding-left: 32px;
    background-image: url(./images/arrow_right_orange.png);
    background-size: 16px;
    background-position: left;
    background-repeat: no-repeat;
}

/* CONTACT SECTION STYLES */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: var(--main-width);
    padding: 50px var(--main-padding-sides);
    background-image: url(./images/bg-lines@2x.png);
    background-size: var(--contact-backdrop-width) auto;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#contact-form-wrapper {
    display: flex;
    justify-content: flex-end;
    width: var(--contact-form-wrapper-width);
    position: relative;
}

#nav-to-top {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 16px;
    height: 152px;
    text-decoration: none;
    color: black;
}

#nav-to-top:hover {
    color: #EF722E;
}

#nav-to-top-text {
    display: block;
    width: 85px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    transform: translateY(40px) rotate(90deg);
}

#nav-to-top-arrow {
    width: 16px;
    height: 60px;
    background-image: url(./images/icon-arrow_down.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

#contact-form {
    width: var(--contact-form-width);
    height: 100%;
}

.input-line {
    display: flex;
    justify-content: space-between;
}

.input-half-width {
    height: 32px;
    width: calc((var(--contact-form-width) * 0.5) - 24px);
    margin: 14px 0;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    color: black;
}

#employees { 
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    position: absolute;
    z-index: 1;
    appearance: none;
    height: 35px;
    width: calc((var(--contact-form-width) * 0.5) - 24px);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#custom-select {
    height: 35px;
    background-color: transparent;
    position: relative;
}

#custom-select::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 21px;
    bottom: 7px;
    right: 0;
    border-left: 1px solid black;
    background-image: url(./images/chevron-down-solid.svg);
    background-position-x: 16px;
    background-position-y: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#custom-select:focus-within {
    border-bottom: 1px solid #EF722E;
}

select::-ms-expand {
/* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    display: none; 
}

#comments-line {
    display: flex;
    flex-direction: column;
    align-items: bottom;
}

label {
    height: 32px;
    line-height: 32px;
    font-size: 14;
}

#comments {
    border: none;
    border-bottom: 1px solid black;
    height: 45px;
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#comments:focus {
    border-bottom: 1px solid #EF722E;  
}

#subscription-line {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#subscription-line > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border: 1px solid black;
    margin-right: 8px;
    cursor: pointer;
}

#subscription-line > input:checked {
    background-color: #EF722E;
    border: 1px solid #EF722E;
}

#subscription-line > label {
    cursor: pointer;
}


#submit-line {
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
}

#submit {
    height: 48px;
    width: 48px;
    border: 1px solid #EF722E;
    margin-right: 40px;
    cursor: pointer;
    background-image: url(./images/icon-arrow_orange.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#indicator {
    line-height: 30px;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--contact-info-width);
    padding: 40px 0;
}

#contact-title, #contact-subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    color: #EF722E;
}

#contact-title {
    font-weight: 700;
}

#company-name {
    margin-top: 30px;
    line-height: 22px;
}

#company-statement {
    line-height: 22px;
}

.company-contact-line {
    line-height: 36px;
    padding-left: 32px;
    background-position: left;
    background-repeat: no-repeat;
}

#company-address {
    background-image: url(./images/map-marker-alt-solid.svg);
    background-size: 12px;
}

#company-phone {
    background-image: url(./images/phone-alt-solid.svg);
    background-size: 14px;
}

#company-email {
    background-image: url(./images/envelope-solid.svg);
    background-size: 18px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: calc(100% - 190px);
    padding: 0 95px;
    color: white;
    background-color: #EF722E;
}

#copyright {
    font-size: 10px;
}

#footer-logo {
    height: 56px;
    width: 100px;
    background-image: url(./images/dynamix-logo-white@2x.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* MEDIA QUERIES BOOTSRAP BREAKPOINTS AS REFRENCE  */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .input-half-width, #employees {
        width: calc(var(--contact-form-width) - 5px);
    }

    .input-line {
        flex-direction: column;
    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 110px;
        width: calc(100% - 80px);
        padding: 0 40px;
    }
}

/* X-Small devices (Pretty much just the Galaxy fold) */
@media (max-width: 310px) { 
    #content-title, #content-subtitle, #contact-title, #contact-subtitle {
        font-size: 28px;
    }

    #img-caption {
        font-size: 4vw;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    :root {
        --contact-form-width: 400px;
    }

    #nav-to-top {
        display: flex;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    :root {
        --main-padding-sides: 5vw;
        --content-img-wrapper-width: 48vw;
        --content-info-width: calc(48% - 60px);
        --contact-form-wrapper-width: 50%;
        --contact-info-width: calc(50% - 128px);
        --contact-backdrop-width: 55%;
    }

    #content {
        flex-direction: row;
        align-items: flex-start;
    }
    
    #content-info {
        padding: 55px 0 0 3.1vw;
    }

    #contact {
        flex-direction: row;
    }

    #contact-info {
        padding: 48px 64px;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    :root{
        --main-padding-sides: 100px;
        --content-img-wrapper-width: 45vw;
    }
}

/* XX-Large devices (larger desktops, 1500px and up) */
@media (min-width: 1500px) {
    :root {
        --content-img-wrapper-width: 675px;
    }
}

/* XX-Large devices (larger desktops, 1550px and up) */
@media (min-width: 1550px) {
    :root {
        --contact-backdrop-width: 850px;
        --contact-form-wrapper-width: 675px;
        --contact-info-width: 547px;
        --content-info-width: 620px;
    }
 }

/* XXX-Large devices (larger desktops, 2000px and up) */
@media (min-width: 2000px) { 
    :root {
        --main-width: 1800px;
    }
    #content, #contact {
        margin: 0 auto;
    }
    #footer {
        width: calc(100% - 200px);
        padding: 0 100px;
    }
}